.container{
    float: left;
    margin-top: -20px;
}

h2{
    display: inline;
}

h3{
    display: inline;
    float: left;
}

#schedule{
    padding: 20px;
    margin-left: 20px;
}
select{
    padding: 20px;
}

option{
    padding: 20px;
}

button{
    padding: 20px;
    margin-right: 180px;
    
}